@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* alternative color: #3a3c42; */
    font-family: 'M PLUS Rounded 1c', sans-serif;
    background: #fff;
}

/* Navbar */

.nav {
    height: 5rem;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 5px -2px rgba(0, 0, 0, 0.4)
}

.nav-logo {
    width: 120px;
    height: 60px;
    cursor: pointer;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.link {
    padding: 1rem;
    list-style: none;
    cursor: pointer;
    font-size: 1rem;
    color: black;
}

.login-btn {
    margin-right: 1rem;
    border: none;
    background-color: inherit;
    color: black;
    cursor: pointer;
    font-size: 1rem;
}

.signup-btn {
    border: 1px solid black;
    border-radius: 7px;
    background-color: inherit;
    color: black;
    width: 100px;
    height: 40px;
    font-size: 1rem;
    cursor: pointer;
}

/* Hero Section */
.hero-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 2rem;
}

.product {
    width: 50%;
}

.product-title {
    font-size: 2rem;
    margin-top: 10px;
}

.product-description {
    font-size: 1rem;
    margin-top: 10px;
    font-weight: 300;
    line-height: 24px;
}

.product-price {
    margin: 10px;
}

.product-btn {
    margin-top: 10px;
    width: 150px;
    height: 50px;
    border: 1px solid black;
    border-radius: 7px;
    background-color: #fff;
    color: black;
    font-size: 1rem;
    font-weight: 600;
}

.product-img {
    width: 100%;
    margin-top: 6px;
    object-fit: cover;
}